<h1>View survey #<%=@survey.id%></h1>

<div class="container">
  <h2>Survey name:</h2>
  <h3><%= @survey.survey_name %></h3>
  <h2>Created By:</h2>
  <h4><%= @survey.user.name %></h4>
  <br>

  <div class="questions">
    <%= p @errors if @errors %>

  <% @survey.questions.each do |question| %>
    <form method="POST" action="/surveys/<%= @survey.id %>" class="form inactive">
      <input type="hidden" id="array_length" value="<%= @survey.questions.length %>">
      <input type="hidden" name="question_id" value="<%= question.id %>">
        <p><%=question.question%></p>
          <ul>
            <% question.question_answers.each do |answer| %>
            <input type="radio" name="answer_choice" class="answer_selection" value="<%= answer.id %>"><%= answer.the_answer %><br>
            <% end %>
          </ul>
      <input class="answer_submit" type="submit" value="Submit Answer">
    </form>
  <% end %>

    <a href="/surveys">
     <button class="finished inactive">DONE!</button>
    </a>

  </div>

  <div class="surveybutton">
    <a href="/surveys/:id/take_survey">Take Survey!</a>
  </div>
</div>

