<h1>View survey #<%=@survey.id%></h1>

<div class="container">
  <h3><%= @survey.survey_name %></h3>
  <h4><%= @survey.user.name %></h4>
  <br>

  <div class="questions">
    <% @survey.questions.each do |question| %>
      <p><%=question.question%></p>
      <ul>
        <% question.question_answers.each do |answer| %>
          <li><%= answer.the_answer %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="surveybutton">
    <a href="/surveys/:id/take_survey">Take Survey!</a>
  </div>
</div>
